# Turn on the rewrite engine
RewriteEngine On

# Do not apply to existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to index.php
# Pass the original URL as a 'url' query parameter
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]